<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sichao.messageService.mapper.ChatUserLinkMapper">

    <!-- 根据当前用户为接收用户，从数据库中查找所有与当前用户相关的聊天列表 -->
    <select id="getCurrentUserChatList" resultType="com.sichao.messageService.entity.vo.ChatListVo">
        SELECT cl.id,cl.link_id,cl.from_user_id,cl.to_user_id,cl.unread_count,u.nickname,u.avatar_url,
               (SELECT content FROM chat_message cm WHERE cl.link_id=cm.link_id AND cm.is_deleted=0 ORDER BY create_time DESC LIMIT 1) last_message,
               (SELECT create_time FROM chat_message cm WHERE cl.link_id=cm.link_id AND cm.is_deleted=0 ORDER BY create_time DESC LIMIT 1) create_time
        FROM chat_list cl LEFT JOIN `user` u ON u.id = cl.from_user_id
        WHERE cl.to_user_id = #{userId} AND cl.is_deleted=0 AND u.is_deleted=0
        ORDER BY create_time DESC
    </select>
</mapper>
