<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sichao.blogService.mapper.BlogTopicRelationMapper">
    <!-- 查询话题下所有实时博客id -->
    <select id="getRealTimetBlogListByTopicId" resultType="com.sichao.blogService.entity.BlogTopicRelation">
        SELECT bt.blog_id,b.create_time FROM blog_topic_relation bt
        LEFT JOIN blog b ON bt.blog_id = b.id
        WHERE bt.topic_id=#{topicId} AND bt.is_deleted=0 AND b.is_deleted=0
        ORDER BY b.create_time
    </select>
</mapper>
