<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sichao.blogService.mapper.BlogCommentMapper">

    <!-- 查询指定博客id下的评论与其作者信息（根据发布时间升序）（并查询当前用户使用点赞该博客，未登录则默认未点赞）-->
    <select id="getCommentByBlogId" resultType="com.sichao.blogService.entity.vo.CommentVo">
        SELECT bc.id,bc.blog_id,bc.creator_id,bc.comment_content,bc.create_time,u.nickname,u.avatar_url
        FROM blog_comment bc LEFT JOIN user u ON bc.creator_id=u.id
        WHERE bc.blog_id=#{blogId} AND bc.is_deleted = 0 AND  u.is_deleted = 0
        ORDER BY bc.create_time
    </select>
</mapper>
